@charset "UTF-8";

a{
 text-decoration:none;
 color:#009688;
}

.h1,.h2,.h3,.h4,.lead,body,h1,h2,h3,h4{
    font-family:RobotoDraft,Roboto,"Helvetica Neue",Helvetica,"Segoe UI","Microsoft YaHei",arial,sans-serif;font-weight:300;
}

body {
 line-height: 35px;
 margin: 0;
 background: #3F51B5 url("f1/2.png") no-repeat fixed center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover; max-width:100%; margin: auto;margin-bottom:20px;
  }

.mdp{
 border-radius: 0px 0px 5px 5px;
 padding-top: 15px;
 padding-bottom:15px;
 margin-bottom:20px;
 width:100%;
 border:0;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 background-color:rgba(255,255,255,.92)
}

.footers{
 clear: both;
 font-size: 13px;
 color: #eeeeee;
 background: #555555 url("f1/color.png") no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover; max-width:100%; margin: auto;
 border-radius: 5px;
 bottom: 0;
 padding-top: 3px;
 padding-bottom:3px;
 width:100%;
 border:0;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 background-color:rgba(88,88,88,.92);
 -webkit-transition: height 1s, -webkit-transform 2s;
 transition: height 1.5s, transform 2s;
 overflow: hidden;
}

.footext-l{
 margin-left: 15px;
 text-align: left;
}

.footext-r{
 margin-right: 15px;
 float: right;
}

.cof{
clear: both;
}

.cmdp{
 border-radius: 5px;
 padding-top: 15px;
 padding-bottom:15px;
 margin-bottom:20px;
 width:100%;
 border:0;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 background-color:rgba(255,255,255,.92)
}

.bg{
 background: #9FC2D6 url("f1/1-funny.png") no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover; max-width:100%; margin: auto;text-align: center;margin-bottom:20px;
}

.s-top{
font-size:10px;
color:#efefef;
text-align:center;
padding: 12px
}

.s-bot{
font-size:15px;
color:#434343;
padding: 22px;
}

.title{
font-weight:bold;
text-align:center;
color:#ffffff;
font-size:21px;
}

.stitle{
text-align:center;
color:#009688;
margin:15px
}

.sg{
text-align:center;
color:#666666;
font-size:12px;
}


@media (min-width: 767px) {
.mdp{
 background: #0b77ff url("f1-funny.png");
 border-radius: 10px;
 padding-top: 15px;
 padding-bottom:15px;
 width:32%;
 height: 150px;
 /*position: relative;*/
 float: right;
 /*left: 67%;*/
 border:0;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 background-color:rgba(255,255,255,.92)
}
.cmdp{
 border-radius: 5px;
 padding-top: 15px;
 padding-bottom:15px;
 margin-bottom:20px;
 width:65%;
 float:left;
 border:0;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
 background-color:rgba(255,255,255,.92)
}

.bg{
 background: #3F51B5 url("f1/1-funny.png") no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover; max-width:100%; margin: auto;text-align: center;margin-bottom:20px;
}
}
